/** 
  CSS culero provisional
*/
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500&display=swap");
:root {
  --first-color: #f1b310;
  --second-color: #a90132;
  --third-color: #2b2460;
}
* {
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
}
.hero {
  width: 100vw;
  height: 100vh;
  position: relative;
  z-index: 5;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.heroBackground {
  width: 100vw;
  height: 100vh;

  position: absolute;
  top: 0;
  z-index: 0;

  background-image: url("/background.png");
  background-position: center;
  background-size: cover;

  filter: blur(5px);
}
.hero h1 {
  font-family: "Playfair Display", serif;

  font-size: 150px;
  margin-left: -100px;
  font-weight: 500;
}

.hero h1 img {
  height: 200px;
}

.hero .dropDown {
  position: absolute;
  bottom: 50px;
  font-size: 40px;
  transition: all 150ms ease-out;
}

.hero .dropDown:hover {
  transform: scale(1.15);
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .hero h1 {
    font-size: 100px;
  }
  .hero h1 img {
    height: 120px;
  }
}

@media screen and (max-width: 600px) {
  .hero h1 {
    font-size: 60px;
  }
  .hero h1 img {
    height: 80px;
  }
}
